/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS reset */
body,
main,
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    gap: 5rem;
}
main{
    width: 100%;
    height: 100%;
    gap: 1rem;
}
.inputs{
    flex-direction: column;
    height: 35rem;
    width: 30rem;
    border: solid 3px blue;
    border-radius: 5%;
}
#pixel-container{
    display: flex;
    flex-wrap: wrap;
    width: 566px;
    height: 566px;
    aspect-ratio: 1/1;
    min-width: 35rem;
    min-height: 35rem;
    outline: solid 1px green;
    flex-shrink: 1;
}
#slider-n-value{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#slider-n-value output{
    width: calc(20px);
}
.slider {
    -webkit-appearance: none;
    width: 25girem;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
.pixel{
    min-width: 0;
    width: auto;
    height: auto;
    min-height: 0;
    aspect-ratio: 1/1;
    outline: solid 1px black;
}